/* Lime Theme: modifies the default theme to inject a wee bit o' green in various places. */

/* Use Open Sans as the default font. */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* See https://getbootstrap.com/docs/5.2/customize/css-variables/#root-variables for variables to override. */
:root {
  --tf-green1: #136c14;
  --tf-green2: #4FA64F;
  --tf-green3: #85C285;
  --tf-green4: #e0f2df;
  --bs-font-sans-serif: "Pacifico", sans-serif;
  --bs-link-color: var(--tf-green1);
  --tf-pill-bg: var(--tf-green3);
  --tf-icon-fill: var(--tf-green1);
  --tf-page-bg-color: var(--bs-white);
  --tf-footer-bg-color: var(--tf-green4);
  --tf-projects-bg-color: var(--tf-green4);
}

h1,h2,h3,h4,h5 {
  color: var(--tf-green1);
}

/* Format social media icons */
.tf-social {
  display: inline-block;
  fill: var(--tf-green1);
  height: 1.5em;
  vertical-align: -.1em;
  width: 1.5em;
}

a {
  text-decoration: none;
}

/* Simplify the styling of the bottom of Essay cards. */
.card-footer {
  background-color: var(--bs-white);
  border-top: none;
}
/* Mode sombre */
:root {
  --tf-bg-color: #ffffff;
  --tf-text-color: #000000;
  --tf-link-color: #076db3;
  --tf-footer-bg-color: #f8f9fa;
}

.dark-mode {
  --tf-bg-color: #121212;
  --tf-text-color: #ffffff;
  --tf-link-color: #1e90ff;
  --tf-footer-bg-color: #1a1a1a;
}

body {
  background-color: var(--tf-bg-color);
  color: var(--tf-text-color);
}

a {
  color: var(--tf-link-color);
}

footer {
  background-color: var(--tf-footer-bg-color);
}
